<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossBrowser" parallel= "tests">
  <test thread-count="5" name="Chrome">
  
  <parameter name="Browser" value="Chrome"/>
  
  <classes>
  <class name="CrossbrowserTesting.Crossbrowser" />
  </classes>
  </test> <!-- Chrome -->
  
   <test thread-count="5" name="Firefox">
  
  <parameter name="Browser" value="Firefox"/>
  
  <classes>
  <class name="CrossbrowserTesting.Crossbrowser" />
  </classes>
  </test>
  
</suite> <!-- CrossBrowser -->
